<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, shrink-to-fit=no ">
   <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    <!-- sbb CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    <title>Hello, sbb</title>
</head>
<body>
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
<th:black layout:fragment="content"></th:black>
<!-- 기본 템플릿 안에 삽입될 내용 End -->
</body>
</html>